:root
{
    /* Font */
    --font-family: 'Montserrat', 'Open Sans', sans-serif;

    /* Default */
    --background-color-body: #cbf6db;  

    /* Section */
    --background-color-main: #aed6dc;

    /* Header */
    --background-color-a-link: #4a536b;

    /* Waifu */
    --background-color-waifu-border: #F5F5DC;
    --background-color-waifu-info: #6495ED;

    /* Form */
    --background-color-form-input: #f5f5ef;

    /* Flash */
    --background-color-success-flash: #32CD32;
    --background-color-warning-flash: #DC143C;

    /* Base Color */
    --white: #ffffff;
    --black-min: #333333;
    --black: #000000;
}