{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}

<section class="section-default">
    <h2>Page not found.</h2>
    <p>You can't access to this part.</p>
</section>

{% endblock %}